/* ----------
   Basic Setup
   ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #fff;
    color: #242424;
    text-rendering: optimizeLegibility;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
  }


/* ----------
   Reusable Component
   ---------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

   
/* Heading */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0px;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
}

h2 {
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 2px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    word-spacing: 2px;
}

h2::after {
    display: block;
    background-color: #e84393;
    content: " ";
    width: 100px;
    height: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

/* paragraph  */

.long-copy {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 145%;
}

/* icons  */
.icon-big {
    font-size: 400%;
    color: #e84393;
    margin-bottom: 10px;
}

.icon-small {
    width: 30px;
    color: #e84393;
    margin-right: 10px;
    text-align: center;
    display: inline-block;

    line-height: 120%;
    vertical-align: middle;
}

a:link, a:active {
    text-decoration: none;
    color: #e84393;
    border-bottom: 1px solid #e84393;
}

a:hover, a:visited {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* button  */
.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited {
    margin-right: 20px;
    border: 1px solid #e84393;
    background-color: #e84393;
    color: #fff;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e84393;
    color: #e84393;
}

.btn:hover, .btn:active {
    
    background-color: #ff5453;

}

.btn-full:hover, .btn-full:active {
    border: 1px solid #ff5453;
}

.btn-ghost:hover, .btn-ghost.btn-full:active {
    border: 1px solid #ff5453;
    color: #fff;
}


/* ----------
   Header
   ---------- */
   

header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./img/myke-simon-atsUqIm3wxo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.movie-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* .logo {
    margin-top: 10px;
    height: 80px;
    width: auto;
    float: left;
} */

.main-nav {
    margin-top: 30px;
    float: right;
    text-decoration: none;
}

.main-nav li {
    margin-left: 30px;
    display: inline-block;
}

.main-nav li a:link,.main-nav li a:visited{
    padding: 8px;
    font-size: 90%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #e84393;;
}

/* ----------
   Movie
   ---------- */

.section-movie {
    padding: 0;
}

.movie-cinema {
    width: 100%;
    list-style: none;
}

.movie-cinema li {
    display: block;
    width: 25%;
    float: left;
}

.movie-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.movie-photo img {
    opacity: 0.7;
    width: 100%;
    height: 550px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.movie-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ----------
   How it works
   ---------- */

.how-buy-ticket {
    background-color: rgb(255, 246, 246);
}

.steps-box:first-child {
    margin-top: 50px;
    text-align: right;
    padding-right: 3% ;
}

.steps-box:last-child {
    margin-top: 80px;
    padding-left: 3%;
    text-align: left;
}

.app-screen {
    width: 80%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    margin-top: -8px;
    color: #e84393;
    border: 2px solid #e84393;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}

/* ----------
   Cities
   ---------- */
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* ----------
   Testimonials
   ---------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("./img/jeremy-yap-J39X2xX_8CQ-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}